<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto · FAN</title>
   <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico?v=2">
    <link rel="icon" type="image/png" href="../assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="../assets/favicon/favicon.svg">
    <link rel="shortcut icon" href="../assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Hidro">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
         <h1 class="logo">
            <a href="../index.html">
                <img src="../assets/images/Logo/Logo.png" alt="FAN.COM - Verduras frescas" width="400" height="400">
            </a>
            <span class="texto-seo"><a href="../index.html">Fresh And Natural</a></span>
        </h1>


        <nav class="barNav">
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="barNav-links">
                <li><a href="../index.html" class="enlace bordeSuperior">Inicio</a></li>
                <li><a href="producto.html" class="enlace">Productos</a></li>
                <li><a href="presupuesto.html" class="enlace">Presupuesto</a></li>
                <li><a href="#" class="enlaceActivo bordeInferior">Contacto</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img src="../assets/menu-hamburguesa/menu-svgrepo-com.svg" alt="menu hamburguesa" height="60" width="60">
            </label>
        </nav>
    </header>
    <main>
        <section class="contenedor">
            <div class="hoja" >
                <h2 id="presupuestoTitle">Contacto</h2>
                <p class="lead">Aquí tienes nuestra ubicación y datos de contacto. Si prefieres, puedes enviarnos un mensaje desde la página de presupuesto o llamarnos directamente.</p>
                <div class="tarjeta-contacto">
                    <div class="mapaFull">
                        <img src="../assets/images/contacto/mapa.PNG" alt="Mapa ubicación FAN.COM" width="885" height="703">
                    </div>

                    <aside class="datos-empresa-tarjeta">
                        <h2>Datos de la empresa</h2>
                        <address>
                            <span>FAN S.L.</span><br>
                            Poligo Industrial Tebongo<br>
                            33800 Tebongo<br> 
                            Cangas del Narcea, Asturias<br>
                        </address>

                        <p>
                            <span>Teléfono:</span> <a href="tel:+34987654321">+34 987 654 321</a><br>
                            <span>Email:</span> <a href="mailto:contacto@fan.com">contacto@fan.com</a>
                        </p>

                        <h3>Horario</h3>
                        <p>
                            Lunes a Viernes: 09:00 – 18:00<br>
                            Sábado: 09:00 – 14:00<br>
                            Domingo: Cerrado
                        </p>

                        <h3 class="titulo3">Cómo llegar</h3>
                        <ul>
                            <li>Carretera Soto del Barco-Cornellana AS-15</li>
                        </ul>

                        <p class="parrafoTitulo3">
                            <a href="aviso-legal.html" class="enlaceActivo">Política de privacidad</a>
                        </p>
                    </aside>
                </div>
            </div>
        </section>
    </main>
    <footer>
            <div id="redes-sociales">
                <p>Síguenos en nuestras redes:</p>
                <a href="https://facebook.com" target="_blank"><img src="../assets/images/inconos-rrss/facebook-svgrepo-com.svg" alt="Facebook" width="25" height="25"></a> |
                <a href="https://twitter.com" target="_blank"><img src="../assets/images/inconos-rrss/twitter-svgrepo-com.svg" alt="Twitter" width="25" height="25"></a> |
                <a href="https://instagram.com" target="_blank"><img src="../assets/images/inconos-rrss/instagram-svgrepo-com.svg" alt="Instagram" width="25" height="25"></a>
            </div>

            <div id="direccion">
                <p>Dirección: Poligo Industrial Tebongo, Cangas del Narcea, Asturias </p>
            </div>

            <div id="aviso-legal">
                <p><a href="aviso-legal.html">Aviso legal</a></p>
            </div>
        </footer>
</body>
</html>