<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos · FAN</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico?v=2">
    <link rel="icon" type="image/png" href="../assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="../assets/favicon/favicon.svg">
    <link rel="shortcut icon" href="../assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Fres and natural">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
         <h1 class="logo">
            <a href="../index.html">
                <img src="../assets/images/Logo/Logo.png" alt="FAN.COM - Verduras frescas">
            </a>
            <span class="texto-seo"><a href="../index.html">Fresh And Natural</a></span>
        </h1>


        <nav class="barNav">
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="barNav-links">
                <li><a href="../index.html" class="enlace bordeSuperior">Inicio</a></li>
                <li><a href="#" class="enlaceActivo">Productos</a></li>
                <li><a href="presupuesto.html" class="enlace">Presupuesto</a></li>
                <li><a href="contacto.html" class="enlace bordeInferior">Contacto</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img src="../assets/menu-hamburguesa/menu-svgrepo-com.svg" alt="menu hamburguesa" height="60" width="60">
            </label>
        </nav>
    </header>
    <main>
        <section class="seccionProductos">
            <h2 id="hojasVerdes">Nuestro surtido de hojas verdes</h2>
            <div class="galeriaProductos">
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/Lechuga-batavia.png" alt="Lechuga Batavia fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Batavia</h3>
                        <p>Peso: 250g</p>
                        <p>Precio: 1,20€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/escarola.png" alt="Lechuga Escarola fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Escarola</h3>
                        <p>Peso: 250g</p>
                        <p>Precio: 1,20€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/canonigo.png" alt="Lechuga Canónigo fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Canónigo</h3>
                        <p>Peso: 250g</p>
                        <p>Precio: 1,20€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/cogollo-de-lechuga-romana.png" alt="Cogollo de lechuga romana fresca" height="250" width="200">
                    <div class="info">
                        <h3>Cogollo de lechuga romana</h3>
                        <p>Peso: 200g</p>
                        <p>Precio: 1,10€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/endivia.png" alt="Lechuga Endibia fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Endibia</h3>
                        <p>Peso: 150g</p>
                        <p>Precio: 1€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/hoja-de-roble-roja.png" alt="Lechuga hoja de roble roja fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga de hoja de roble</h3>
                        <p>Peso: 200g</p>
                        <p>Precio: 1,90€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/lechuga-hoja-roja.png" alt="Lechuga hoja roja fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga hoja roja</h3>
                        <p>Peso: 150g</p>
                        <p>Precio: 1,40€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/iceberg.png" alt="Lechuga Iceberg fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Iceberg</h3>
                        <p>Peso: 400g</p>
                        <p>Precio: 1,90€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/lechuga-romana.png" alt="Lechuga Romana fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Romana</h3>
                        <p>Peso: 700g</p>
                        <p>Precio: 1,30€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/lechuga-trocadero.png" alt="Lechuga trocadero fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga trocadero</h3>
                        <p>Peso: 600g</p>
                        <p>Precio: 2,20€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/radicchio.png" alt="Lechuga Radicchio fresca" height="250" width="200">
                    <div class="info">
                        <h3>Lechuga Radicchio</h3>
                        <p>Peso: 900g</p>
                        <p>Precio: 2,80€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hojas-verdes/rucula.png" alt="Rúcula fresca" height="250" width="200">
                    <div class="info">
                        <h3>Rúcula</h3>
                        <p>Peso: 400g</p>
                        <p>Precio: 1,10€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="seccionProductos">
            <h2 id="verduraAsiatica">Nuestro surtido de verdura asiática</h2>
            <div class="galeriaProductos">
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/choi-sum.png" alt="Verdura asiatica Choi Sum fresco" height="250" width="200">
                    <div class="info">
                        <h3>Choi Sum</h3>
                        <p>Peso: 800g</p>
                        <p>Precio: 3,25€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/pak-choi.png" alt="Verdura asiatica Pak Choi fresco" height="250" width="200">
                    <div class="info">
                        <h3>Pak Choi</h3>
                        <p>Peso: 640g</p>
                        <p>Precio: 1,80€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/mini-pak-choi.png" alt="Verdura asiatica Mini Pak Choi fresco" height="250" width="200">
                    <div class="info">
                        <h3>Mini Pak Choi</h3>
                        <p>Peso: 450g</p>
                        <p>Precio: 3,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/kai-lan.png" alt="Verdura asiatica Kai Lan fresco" height="250" width="200">
                    <div class="info">
                        <h3>Kai Lan</h3>
                        <p>Peso: 1kg</p>
                        <p>Precio: 4,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/kan-choi.png" alt="Verdura asiatica Kan Choi fresco" height="250" width="200">
                    <div class="info">
                        <h3>Kan Choi</h3>
                        <p>Peso: 300g</p>
                        <p>Precio: 2,40€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/thong-ho-viet.png" alt="Verdura asiatica Tong Ho Viet fresco" height="250" width="200">
                    <div class="info">
                        <h3>Tong Ho Viet</h3>
                        <p>Peso: 350g</p>
                        <p>Precio: 3,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/kou-choi.png" alt="Verdura asiatica Kou Choi fresco" height="250" width="200">
                    <div class="info">
                        <h3>Kou Choi</h3>
                        <p>Peso: 450g</p>
                        <p>Precio: 4,50€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/tong-ho.png" alt="Verdura asiatica Tong Ho fresco" height="250" width="200">
                    <div class="info">
                        <h3>Tong Ho</h3>
                        <p>Peso: 560g</p>
                        <p>Precio: 4,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/bai-cai.png" alt="Verdura asiatica Bai Cai fresco" height="250" width="200">
                    <div class="info">
                        <h3>Bai Cai</h3>
                        <p>Peso: 700g</p>
                        <p>Precio: 2,50€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/verdura-asiatica/heung-moll.png" alt="Verdura asiatica Heung Moll fresco" height="250" width="200">
                    <div class="info">
                        <h3>Heung Moll</h3>
                        <p>Peso: 450g</p>
                        <p>Precio: 3,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="seccionProductos">
            <h2 id="hierbaAromatica">Nuestro surtido de hiervas aromáticas</h2>
            <div class="galeriaProductos">
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hierba-aromatica/cebollino.png" alt="Hierba aromática cebollino fresco" height="250" width="200">
                    <div class="info">
                        <h3>Cebollino</h3>
                        <p>Peso: 500g</p>
                        <p>Precio: 2,50€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hierba-aromatica/cilantro.png" alt="Hierba aromática cilantro fresco" height="250" width="200">
                    <div class="info">
                        <h3>Cilantro</h3>
                        <p>Peso: 250g</p>
                        <p>Precio: 1,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hierba-aromatica/mostaza.png" alt="Semilla de hierba aromática mostaza fresca" height="250" width="200">
                    <div class="info">
                        <h3>Mostaza</h3>
                        <p>Peso: 800g</p>
                        <p>Precio: 3,20€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hierba-aromatica/perejil.png" alt="Hierba aromática perejil fresco" height="250" width="200">
                    <div class="info">
                        <h3>Perejil</h3>
                        <p>Peso: 300g</p>
                        <p>Precio: 1,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hierba-aromatica/menta.png" alt="Hierba aromática menta fresca" height="250" width="200">
                    <div class="info">
                        <h3>Menta</h3>
                        <p>Peso: 300g</p>
                        <p>Precio: 2,50€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/hierba-aromatica/albahaca.png" alt="Hierba aromática albahaca fresca" height="250" width="200">
                    <div class="info">
                        <h3>Albahaca</h3>
                        <p>Peso: 450g</p>
                        <p>Precio: 3,50€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="seccionProductos">
            <h2 id="frutaPeque">Nuestro surtido de fruta pequeña</h2>
            <div class="galeriaProductos">
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/frutos-pequeños/tomate.png" alt="Fruto pequeño tomate fresco" height="250" width="200">
                    <div class="info">
                        <h3>Tomate</h3>
                        <p>Peso: 1kg</p>
                        <p>Precio: 2,10€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/frutos-pequeños/tomate-cherry.png" alt="Fruto pequeño tomate cherry fresco" height="250" width="200">
                    <div class="info">
                        <h3>Tomate Cherry</h3>
                        <p>Peso: 900g</p>
                        <p>Precio: 2,10€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/frutos-pequeños/fresa.png" alt="Fruto pequeño fresa fresca" height="250" width="200">
                    <div class="info">
                        <h3>Fresa</h3>
                        <p>Peso: 1kg</p>
                        <p>Precio: 2,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/frutos-pequeños/frambuesa.png" alt="Fruto pequeño frambuesa fresca" height="250" width="200">
                    <div class="info">
                        <h3>Frambuesas</h3>
                        <p>Peso: 500g</p>
                        <p>Precio: 2,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
                <div class="producto">
                    <img class="imagenProductos" src="../assets/images/frutos-pequeños/arandanos.png" alt="Fruto pequeño arandano fresco" height="250" width="200">
                    <div class="info">
                        <h3>Arándanos</h3>
                        <p>Peso: 500g</p>
                        <p>Precio: 2,00€</p>
                        <p>Origen: Asturias</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="redes-sociales">
            <p>Síguenos en nuestras redes:</p>
            <a href="https://facebook.com" target="_blank"><img src="../assets/images/inconos-rrss/facebook-svgrepo-com.svg" alt="Facebook"></a> |
            <a href="https://twitter.com" target="_blank"><img src="../assets/images/inconos-rrss/twitter-svgrepo-com.svg" alt="Twitter"></a> |
            <a href="https://instagram.com" target="_blank"><img src="../assets/images/inconos-rrss/instagram-svgrepo-com.svg" alt="Instagram"></a>
        </div>

        <div id="direccion">
            <p>Dirección: Poligo Industrial Tebongo, Cangas del Narcea, Asturias </p>
        </div>

        <div id="aviso-legal">
            <p><a href="aviso-legal.html">Aviso legal</a></p>
        </div>
    </footer>
</body>
</html>